<?xml version="1.0"?>
<config>
    <modules>
        <SwiftOtter_Report>
            <version>0.0.2</version>
            <depends>
                <SwiftOtter_Base/>
            </depends>
        </SwiftOtter_Report>
    </modules>
    <global>
        <models>
            <SwiftOtter_Report>
                <class>SwiftOtter_Report_Model</class>
                <resourceModel>SwiftOtter_Report_Resource</resourceModel>
            </SwiftOtter_Report>

            <SwiftOtter_Report_Resource>
                <class>SwiftOtter_Report_Model_Resource</class>
                <entities>
                    <ProductSaleRegion>
                        <table>swiftotter_report_product_sale_region</table>
                    </ProductSaleRegion>
                    <VendorSale>
                        <table>swiftotter_report_vendor_sale</table>
                    </VendorSale>
                </entities>
            </SwiftOtter_Report_Resource>
        </models>

        <blocks>
            <SwiftOtter_Report>
                <class>SwiftOtter_Report_Block</class>
            </SwiftOtter_Report>
        </blocks>
        <helpers>
            <SwiftOtter_Report>
                <class>SwiftOtter_Report_Helper</class>
            </SwiftOtter_Report>
        </helpers>
        <resources>
            <SwiftOtter_Report>
                <setup>
                    <module>SwiftOtter_Report</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </SwiftOtter_Report>
        </resources>

        <events>
            <sales_order_place_after>
                <observers>
                    <SwiftOtter_Report>
                        <type>singleton</type>
                        <class>SwiftOtter_Report_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </SwiftOtter_Report>
                </observers>
            </sales_order_place_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SwiftOtter_Report before="Mage_Adminhtml">SwiftOtter_Report_Admin</SwiftOtter_Report>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend></frontend>

    <adminhtml>
        <layout>
            <updates>
                <swiftotter_report>
                    <file>SwiftOtter/Report.xml</file>
                </swiftotter_report>
            </updates>
        </layout>
        <events>

        </events>
    </adminhtml>
</config>