<config>
    <sections>
        <swiftotter_config translate="label">
            <class>separator-top</class>
            <label>SwiftOtter Settings</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            </groups>
        </swiftotter_config>
    </sections>
</config>