<config>
	<modules>
		<SwiftOtter_BrowseAttribute>
			<version>0.0.6</version>
		</SwiftOtter_BrowseAttribute>
	</modules>
    <global>
		<helpers>
			<SwiftOtter_BrowseAttribute>
				<class>SwiftOtter_BrowseAttribute_Helper</class>
			</SwiftOtter_BrowseAttribute>
		</helpers>
        <blocks>
            <SwiftOtter_BrowseAttribute>
                <class>SwiftOtter_BrowseAttribute_Block</class>
            </SwiftOtter_BrowseAttribute>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_form>SwiftOtter_BrowseAttribute_Block_Adminhtml_Override_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                    <catalog_product_attribute_edit_tab_options>SwiftOtter_BrowseAttribute_Block_Adminhtml_Override_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <SwiftOtter_BrowseAttribute>
                <class>SwiftOtter_BrowseAttribute_Model</class>
                <resourceModel>SwiftOtter_BrowseAttribute_Resource</resourceModel>
            </SwiftOtter_BrowseAttribute>

            <SwiftOtter_BrowseAttribute_Resource>
                <class>SwiftOtter_BrowseAttribute_Model_Resource</class>
                <entities>
                    <Index>
                        <table>swiftotter_browse_attribute_index</table>
                    </Index>
                    <Index_Tmp>
                        <table>swiftotter_browse_attribute_index_tmp</table>
                    </Index_Tmp>
                </entities>
            </SwiftOtter_BrowseAttribute_Resource>

            <catalog_resource>
                <rewrite>
                    <attribute>SwiftOtter_BrowseAttribute_Model_Resource_Override_Catalog_Attribute</attribute>
                </rewrite>
            </catalog_resource>
        </models>
		<resources>
			<SwiftOtter_BrowseAttribute>
                <setup>
                    <module>SwiftOtter_BrowseAttribute</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
			</SwiftOtter_BrowseAttribute>
		</resources>
        <index>
            <indexer>
                <browse_by_attribute>
                    <model>SwiftOtter_BrowseAttribute/Attribute_Indexer</model>
                </browse_by_attribute>
            </indexer>
        </index>

        <events>
            <controller_front_init_routers>
                <observers>
                    <SwiftOtter_BrowseAttribute>
                        <class>SwiftOtter_BrowseAttribute_Model_Observer_Router</class>
                        <method>controllerFrontInitRouters</method>
                    </SwiftOtter_BrowseAttribute>
                </observers>
            </controller_front_init_routers>
        </events>
	</global>

    <frontend>
        <layout>
            <updates>
                <SwiftOtter_BrowseAttribute>
                    <file>SwiftOtter_BrowseAttribute.xml</file>
                </SwiftOtter_BrowseAttribute>
            </updates>
        </layout>
        <routers>
            <SwiftOtter_BrowseAttribute>
                <use>standard</use>
                <args>
                    <module>SwiftOtter_BrowseAttribute_Frontend</module>
                    <frontName>browse</frontName>
                </args>
            </SwiftOtter_BrowseAttribute>
        </routers>

    </frontend>

	<admin>
		<routers>
		</routers>
	</admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <swiftotter_browseattribute>
                        <class>SwiftOtter_BrowseAttribute_Model_Observer</class>
                        <method>adminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </swiftotter_browseattribute>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
        <layout>
            <updates>
                <SwiftOtter_BrowseAttribute>
                    <file>SwiftOtter/BrowseAttribute.xml</file>
                </SwiftOtter_BrowseAttribute>
            </updates>
        </layout>
    </adminhtml>
</config>